@{ }
<div>
    <a href="createcourse.cshtml">creëer course</a> | <a href="courseoverzicht.cshtml">course overzicht</a> 
    | <a href="createopleiding.cshtml">creëer opleiding</a> | <a href="opleidingoverzicht.cshtml">opleiding overzicht</a>
</div>


