
*.mdf
*.ide
Blackboard/.vs/Blackboard/v15/.suo
Blackboard/.vs/Blackboard/v15/Server/sqlite3/storage.ide
Blackboard/.vs/config/applicationhost.config
*.ldf
Blackboard/.vs/Blackboard/v15/.suo
*.mdf
*.ldf
*.mdf
Blackboard/App_Data/Blackboard_log.ldf
