
@{

    string errorMessage = "";
    if (IsPost)
    {
        string ontvanger = Request.Form["ontvanger"];
        string onderwerp = Request.Form["onderwerp"];
        string msgbody = Request.Form["msgbody"];


        try
        {

            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "noreplyzwartbord@gmail.com";
            WebMail.Password = "Blackboard123";



            WebMail.Send(to: ontvanger,
                subject: "Blackboard| " + onderwerp,
                body: msgbody
            );
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}

    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="~/materialize/materialize.css" media="screen,projection" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="~/materialize/materialize.js"></script>
        <script type="text/javascript" src="~/Pages/mail/mail.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="col l12">
                <div class="row">
                    <form method="post">
                        <div class="row">
                            <ul id="dropdown" class="dropdown-content">
                                <li><a href="#">Inbox<span class="badge">12</span></a></li>
                                
                            </ul>

                            <a class="btn dropdown-button" href="#" data-activates="dropdown">
                                Kies Ontvanger
                                <i class="mdi-navigation-arrow-drop-down right"></i>
                            </a>
                            <div class="input-field col s6">
                                <input name="onderwerp" id="onderwerp" type="text" class="validate">
                                <label for="onderwerp">Onderwerp</label>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <textarea  name="msgbody"id="msgbody" class="materialize-textarea"></textarea>
                            <label for="msgbody">Bericht</label>
                        </div>
                        <button class="btn waves-effect waves-blue" type="submit" id="Submit" name="submit">
                            Verstuur
                            <i class="material-icons right">send</i>
                        </button>
                        @{ if (errorMessage != "")
                            {
                                <p>@errorMessage</p>
                            }


                        }

                    </form>
                </div>
            </div>
        </div>
    </body>

