@RenderPage("~/Pages/template/header.cshtml")

@{
    if (Session["mode"] == null)
    {
        Response.Redirect("~/Pages/login/login.cshtml");
    }
    string course = Convert.ToString(Session["coursename"]);
    string mode = Convert.ToString(Session["mode"]);
    string pad = "C:\\Users\\Hidde\\Documents\\GitHub\\p3webapp\\Blackboard\\UploadedFiles\\" + course + "\\UploadedHomework\\";
    int padlengte = pad.Length;
    string[] entries = Directory.GetFileSystemEntries(pad, "*", SearchOption.AllDirectories);
    string filenaam;

    if (IsPost)
    {
        string a = Request["button"];
        pad += a;
        File.Delete(pad);
        Response.Redirect("viewhomework.cshtml");
    }
}
<main>
    <div class="container test">
        @foreach (string ding in entries)
        {
            filenaam = ding.Remove(0, padlengte);
            <a href="~/UploadedFiles/@course/UploadedHomework/@filenaam" download>@filenaam</a> <br />
            if (mode == "Leraar")
            {
                <form method="post">
                    <button class="btn" name="button" value="@filenaam">Verwijder bestand</button>
                </form>
            }


            <br />
        }
    </div>
</main>
@RenderPage("~/Pages/template/Footer.cshtml")