USE [master]
GO
/****** Object:  Database [C:\USERS\HIDDE\DOCUMENTS\GITHUB\P3WEBAPP\BLACKBOARD\APP_DATA\NEWDB.MDF]    Script Date: 27-3-2018 13:50:20 ******/
CREATE DATABASE [C:\USERS\HIDDE\DOCUMENTS\GITHUB\P3WEBAPP\BLACKBOARD\APP_DATA\NEWDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Newdb', FILENAME = N'C:\Users\Hidde\Documents\GitHub\p3webapp\Blackboard\App_Data\Newdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Newdb_log', FILENAME = N'C:\Users\Hidde\Documents\GitHub\p3webapp\Blackboard\App_Data\Newdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\HIDDE\DOCUMENTS\GITHUB\P3WEBAPP\BLACKBOARD\APP_DATA\NEWDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\HIDDE\DOCUMENTS\GITHUB\P3WEBAPP\BLACKBOARD\APP_DATA\NEWDB.MDF]
GO
USE [C:\USERS\HIDDE\DOCUMENTS\GITHUB\P3WEBAPP\BLACKBOARD\APP_DATA\NEWDB.MDF]
GO
/****** Object:  Table [dbo].[course]    Script Date: 27-3-2018 13:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[courseid] [int] IDENTITY(1,1) NOT NULL,
	[beheerderid] [int] NOT NULL,
	[achtergrondlink] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[courseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[krijgt_cijfer]    Script Date: 27-3-2018 13:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[krijgt_cijfer](
	[studentid] [int] NOT NULL,
	[courseid] [int] NOT NULL,
	[cijfer] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[studentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[leraar]    Script Date: 27-3-2018 13:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[leraar](
	[leraarid] [int] IDENTITY(1,1) NOT NULL,
	[voornaam] [nvarchar](50) NOT NULL,
	[achternaam] [nvarchar](50) NOT NULL,
	[emailadres] [nvarchar](50) NOT NULL,
	[passhash] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[leraarid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[leraar_course]    Script Date: 27-3-2018 13:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[leraar_course](
	[leraarid] [int] IDENTITY(1,1) NOT NULL,
	[courseid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[leraarid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[opleiding]    Script Date: 27-3-2018 13:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opleiding](
	[opleidingid] [int] IDENTITY(1,1) NOT NULL,
	[naam] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[opleidingid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[opleiding_course]    Script Date: 27-3-2018 13:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opleiding_course](
	[opleidingid] [int] NOT NULL,
	[courseid] [int] NOT NULL,
	[opmerking] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[opleidingid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 27-3-2018 13:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[studentid] [int] IDENTITY(1,1) NOT NULL,
	[klasnaam] [nvarchar](50) NOT NULL,
	[opleidingid] [int] NOT NULL,
	[emailadres] [nvarchar](50) NOT NULL,
	[voornaam] [nvarchar](50) NOT NULL,
	[achternaam] [nvarchar](50) NOT NULL,
	[passhash] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[studentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD FOREIGN KEY([beheerderid])
REFERENCES [dbo].[leraar] ([leraarid])
GO
ALTER TABLE [dbo].[krijgt_cijfer]  WITH CHECK ADD FOREIGN KEY([courseid])
REFERENCES [dbo].[course] ([courseid])
GO
ALTER TABLE [dbo].[krijgt_cijfer]  WITH CHECK ADD FOREIGN KEY([studentid])
REFERENCES [dbo].[student] ([studentid])
GO
ALTER TABLE [dbo].[leraar_course]  WITH CHECK ADD FOREIGN KEY([courseid])
REFERENCES [dbo].[course] ([courseid])
GO
ALTER TABLE [dbo].[leraar_course]  WITH CHECK ADD FOREIGN KEY([leraarid])
REFERENCES [dbo].[leraar] ([leraarid])
GO
ALTER TABLE [dbo].[opleiding_course]  WITH CHECK ADD FOREIGN KEY([courseid])
REFERENCES [dbo].[course] ([courseid])
GO
ALTER TABLE [dbo].[opleiding_course]  WITH CHECK ADD FOREIGN KEY([opleidingid])
REFERENCES [dbo].[opleiding] ([opleidingid])
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD FOREIGN KEY([opleidingid])
REFERENCES [dbo].[opleiding] ([opleidingid])
GO
USE [master]
GO
