@{
    Page.Title = "Title goes here";

}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="home.css">
</head>

<div class="wrapper">

    <div class="row">

        <div class="col-lg-8">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Blackboard</a> 
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="login.cshtml">Login</a></li>
                        <li><a href="register.cshtml">Register</a></li>
                        <li><a href="courses.cshtml"></a>Courses</li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    

</div>