

@RenderPage("~/Pages/template/header.cshtml")

<body>
    <main>
        <div class="row">
            <div class="col-lg-4">
                <div class="links">

                </div>
            </div>
            <div class="col-lg-4">
                <div class="midden">
                    <h2>Welkom bij blackboard NHL Stenden</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="rechts">

                </div>
            </div>
        </div>

    </main>
</body>
@RenderPage("~/Pages/template/Footer.cshtml")

