body {
    background: radial-gradient(white, black);
}
.tussenblokje{
    height: 50px;
}
.hoofdblok {
    padding: 20px !important;
    background-color: black;
    color: white;
    background: radial-gradient(darkslategrey, black);
    border-radius: 20px;
}