<head>
    <link rel="stylesheet" type="text/css" href="~/Pages/template/mystyle.css">
</head>






<footer id="Footer_ding" class="page-footer fixed teal darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="bold-white-text ">Blackboard</h5>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">NHL Stenden</h5>
                <li><a class="grey-text text-lighten-3" href="https://www.mijnnhl.nl/">www.mijnnhl.nl/</a></li>
                <li><a class="grey-text text-lighten-3" href="https://educator.nhl.nl/login">Educator</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.nhlstenden.com">www.nhlstenden.com</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.nhlstenden.com/over-nhl-stenden/over-deze-website/cookiebeleid!">Cookiebeleid</a></li>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-3">
        <div class="container">
            © 2018 Copyright by 4chan
            <a class="grey-text text-lighten-4 right" href="#!">technical support</a>
        </div>
    </div>
</footer>
