@{
    if (IsPost && Request.Form["logout"] != null)
    {

        Session.Clear();
        Response.Redirect("~/Pages/login/login.cshtml");
    }
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/materialize/materialize.css" media="screen,projection" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/materialize/materialize.js"></script>

    <style>
        .navbar {
            background-color: teal;
            color: white;
            border-bottom: 0px;
        }

        a:link {
            color: white;
        }

        a:hover {
            color: white;
        }

        #linc {
            color: white;
        }

            #linc:hover {
                color: white;
                text-decoration: underline;
            }
    </style>
</head>


<nav class="navbar navbar-default ding">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="~/Pages/home/home.cshtml"><img src="~/images/logo.png" alt="Logo" style="width:64px;height:64px;border:0;"></a></li>
            <li><a id="linc" href="~/Pages/home/home.cshtml">Home</a></li>
            <li><a id="linc" href="~/Pages/Courses/courses.cshtml">Courses</a></li>
            <li><a id="linc" href="~/Pages/Orginizations/Organizations.cshtml">Organizations</a></li>
            <li><a id="linc" href="https://www.mijnnhl.nl/">MijnNHL</a></li>
            <li><a id="linc" href="https://educator.nhl.nl/login">Educator</a></li>


        </ul>
        @{
            if (Session["mode"] == null)
            {
                <ul class="right hide-on-med-and-down">
                    <li><a href="~/Pages/login/login.cshtml">Log in</a></li>
                </ul>
            }
            else
            {
                <form method="post">
                    <ul class="right hide-on-med-and-down">
                        <li><button class="btn blue" name="logout" type="submit" value="logout">Uitloggen</button></li>
                    </ul>
                </form>
            }
        }
    </div>
</nav>